* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

body {
	font-family: "AndaleMono", sans-serif;
}

.wrapper {
	width: 980px;
	margin: 0 auto;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.clearfix:before {
  content: '';
  display: table;
}
.header__logo {
	text-align: center;
	padding: 76px 0 60px;
}
.logo {
	display: inline-block;
}
.logo__img {
	display: block;
}
.header__nav {
	float: left;
}
.nav {
	font-size: 0;
}
.nav__item {
	display: inline-block;
	padding: 0 20px;
}
.nav__item-active .nav__link {
	
}
.nav__item:first-child {
	padding-left: 0;
}
.nav__link {
	line-height: 35px;
	font-size: 17px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-family: "AndaleMono";
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
}
.header__search {
	float: right;
}
.search {
	display: inline-block;
	padding-left: 30px;
	position: relative;
}
.search__icon {
	position: absolute;
	left: 0;
	top: 50%;
	width: 25px;
	height: 25px;
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
	margin-top: -12.5px;
}
.search__input {
	display: block;
	height: 20px;
	border: 1px solid #999;
	background-color: transparent;
	padding: 0 5px;
}
.corz {
	display: inline-block;
	margin-left: 72px;
	position: relative;
}
.corz__icon {
	width: 50px;
	height: 35px;
	display: block;
	background-image: url(../img/basket.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	position: absolute;
	left: 0;
	top: -6px
}
.corz__link {
	padding-left: 50px;
	display: block;
	height: 30px;
	line-height: 30px;
	text-decoration: none;
	color: #000;
	position: relative;
}
.header__top {
	border-bottom: 1px solid #000;
	padding-bottom: 4px;
}
.header__bottom {
	padding-top: 10px;
}
.header__subnav {
	float: left;
	width: 91%;
}
.subnav {
	font-size: 0;
}
.subnav__item {
	display: inline-block;
	padding-right: 10px;
	position: relative;
}
.subnav__link {
	text-transform: uppercase;
	color: #000;
	font-size: 15px;
	text-decoration: none;
	padding-right: 16px;
	position: relative;
	display: block;
}
.subnav__link::after {
	content: '<';
	position: absolute;
	right: 5px;
	top: 2px;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	font-size: 12px;
	font-weight: bold;
}
.subnav1 {
	position: absolute;
	left: 50%;
	top: 100%;
	background-color: #fff;
	width: 200px;
	margin-left: -100px;
	border: 1px solid #000;
	z-index: 10;
	padding: 3px 0;
	display: none;
}
.subnav1__item {
	display: block;
	padding: 3px 6px;
	text-align: left;
}
.subnav1__link {
	display: inline-block;
	font-size: 15px;
	color: #000;
	text-decoration: none;
	line-height: 1.25;
	font-family: "AndaleMono", sans-serif;
}
.subnav1__link:hover, .subnav1__link:focus, .subnav1__link:active {
	text-decoration: underline;
	color: #000;
}
.header__h-profil {
	float: right;
	margin-top: -5px;
}
.h-like {
	color: #000;
	text-decoration: none;
	display: block;
	line-height: 25px;
	padding-left: 28px;
	position: relative;
}
.h-like__icon {
	width: 23px;
	height: 25px;
	background-image: url(../img/fav-active.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
	-webkit-background-size: cover;
	background-size: auto 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.h-profil {
	text-decoration: none;
	display: block;
}
.h-profil__icon {
	width: 25px;
	height: 25px;
	background-image: url(../img/prof.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
	-webkit-background-size: cover;
	background-size: auto 100%;
}
.header__h-like {
	float: right;
	margin-top: -5px;
	margin-left: 16px;
}

.content {

}
.content__wrapper {
	
}
.content__left {
	width: 670px;
	float: left;
}
.content__right {
	width: 220px;
	float: right;
}
.content__c-categorie {
	
}
.c-categories {
	width: 100%;
	padding-top: 60px;
}
.c-categories__item {
	text-align: center;
	width: 33.33333%;
	float: left;
	margin-bottom: 10px;
	display: block;
	text-align: center;
	height: 236px;
}
.c-categories__icon {
	background-image: url("../img/fav.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	display: block;
	height: 25px;
	left: 10px;
	position: absolute;
	top: 10px;
	width: 23px;
}
.c-categories__item a {
	display: inline-block;
	text-align: left;
	width: 160px;
}
.c-categories__picture {
	width: 160px;
	height: 160px;
	overflow: hidden;
	position: relative;
	margin: 0 auto 10px;
}
.c-categories__img {
	display: block;
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.c-categories__link {
	display: inline-block;
	text-decoration: none;
	color: #333;
	font-size: 15px;
	font-family: "AndaleMono";
	text-transform: uppercase;
}
.footer {
	margin-top: 60px;
	padding: 20px 0;
}
.footer__f-copy {
	text-align: center;
	margin-bottom: 10px;
}
.f-copy {
	display: inline-block;
	font-size: 15px;
	color: #000;
	font-family: "AndaleMono";
}
.footer__f-social {
	text-align: center;
}
.f-social {
	font-size: 0;
	display: inline-block;
}
.f-social__item {
	display: inline-block;
	padding: 0 5px;
}
.f-social__link {
	font-size: 30px;
	color: #000;
}
.content__full {
	width: 100%;
}
.content__c-path {
	padding-top: 30px;
	padding-bottom: 30px;
	width: 74%;
	float: left;
}
.c-path {
	font-size: 0;
}
.c-path__item {
	display: inline-block;
	padding: 0 16px 0 5px;
	position: relative;
}
.c-path__item::after {
	content: '>';
	font-size: 16px;
	color: #000;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.c-path__item:first-child {
	padding-left: 0;
}
.c-path__item:last-child {
	padding-right: 0;
}
.c-path__item:last-child::after {
	display: none;
}
.c-path__item-active .c-path__link {
	color: #999;
}
.c-path__link {
	font-size: 20px;
	color: #000;
	display: block;
	text-decoration: none;
}
.content__c-titlecard {
	float: left;
	width: 100%;
	margin-bottom: 30px;
	margin-top: -5px;
}
.c-titlecard h2 {
	font-weight: normal;
	font-family: "AndaleMono";
	font-weight: bold;
	text-transform: uppercase;
}
.c-slider {
	position: relative;
}
.c-slider .owl-nav {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.c-slider .owl-nav > div {
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	z-index: 2;
}
.c-slider .owl-prev {
	position: absolute;
	left: 0;
	background-image: url(../img/trangle.png);
	-webkit-background-size: cover;
	background-size: cover;
	transform: rotate(180deg);
}
.c-slider .owl-next {
	position: absolute;
	right: 0;
	background-image: url(../img/trangle.png);
	-webkit-background-size: cover;
	background-size: cover;
}
.c-slider__item {
	text-align: center;
}
.c-slider__item img {
	width: auto !important;
	max-width: 100% !important;
	display: inline-block !important;
}
.c-slider-nav {
	margin-top: 30px;
}
.c-slider-nav__item {
	width: 80px;
	height: 80px;
	float: left;
	display: block;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.c-slider-nav__item img {
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.content__c-description {
	padding-top: 40px;
}
.content {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.content__c-slider {
	overflow: hidden;
}
.c-description {

}
.c-description strong {
	text-transform: uppercase;
	font-size: 18px;
	font-family: "AndaleMono";
	font-weight: bold;
	font-weight: normal;
	color: #000;
}
.c-description b {
	text-transform: uppercase;
	font-size: 18px;
	font-family: "AndaleMono";
	font-weight: bold;
	color: #000;
	font-weight: normal;
}
.c-description p {
	text-transform: uppercase;
	font-size: 18px;
	font-family: "AndaleMono";
	font-weight: bold;
	color: #999;
	font-weight: normal;
}
.content__c-filter {

}
.c-filter {
	width: 100%;
	border: 1px solid #999;
	padding: 20px;
}
.c-filter__top {
	width: 100%;
	position: relative;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	font-size: 14px;
	font-family: "AndaleMono";
	font-weight: bold;
}
.c-filter__prev {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 30px;
	height: 30px;
	background-image: url(../img/trangle.png);
	-webkit-background-size: cover;
	background-size: cover;
	transform: rotate(180deg);
}
.c-filter__next {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 30px;
	height: 30px;
	background-image: url(../img/trangle.png);
	-webkit-background-size: cover;
	background-size: cover;
}
.c-filter__izbranoe {
	width: 100%;
	border: 1px solid #999;
	display: block;
	margin-top: 20px;
	height: 30px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	color: #999;
	text-transform: uppercase;
	font-family: "AndaleMono";
	font-weight: bold;
}
.c-filter__izbranoe:hover {
	color: #000;
	border-color: #000;
}
.c-filter__izbranoe .fa {
	margin-right: 12px;
}
.c-filter__price {
	display: block;
	width: 100%;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: "AndaleMono";
	font-weight: bold;
}
.c-filter__price::after {
	content: ' р';
}
.c-filter__label {
	text-transform: uppercase;
	color: #000;
	font-size: 14px;
	font-family: "AndaleMono";
	font-weight: bold;
	padding-bottom: 5px;
	display: block;
}
.c-filter__radio-row {
	display: block;
	width: 100%;
}
.c-filter__radio-row input {
	display: none;
}
.c-filter__radio-row label {
	padding-left: 25px;
	position: relative;
	color: #999;
	cursor: pointer;
}
.c-filter__radio-row label::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	top: 0;
	display: block;
	border: 1px solid #999;
}
.c-filter__radio-row label::before {

}
.c-filter__radio-row input:checked + label:before {
	background-color: #000;
	border-color: #000;
}
.c-filter__radio-row input:checked + label:after {
	content: '';
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	left: 6px;
	background-color: #fff;
	top: 6px;
}
.c-filter__colicestvo {
	text-transform: uppercase;
	font-size: 14px;
	font-family: "AndaleMono";
	margin-top: 20px;
	line-height: 20px;
}
.c-filter__colicestvo input {
	display: inline-block;
	width: 40px;
	height: 20px;
	text-align: center;
	margin-left: 10px;
}
.c-filter__button {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}
.c-filter__button input {
	background-color: #000;
	text-transform: uppercase;
	color: #fff;
	font-size: 17px;
	font-family: "AndaleMono";
	padding: 0 25px;
	height: 30px;
	line-height: 28px;
	border: 1px solid #999;
}
.c-categories__item-left .c-categories__picture {
	position: relative;
}
.c-categories__izbrannoe {
	position: absolute;
	left: 8px;
	top: 8px;
	display: block;
	text-align: left;
	z-index: 9;
	color: #000;
}
.c-categories__item > div {
	display: inline-block;
}
.clearfix .content__c-path {
	float: left;
}
.content__c-sort {
	float: right;
	padding-top: 30px;
	padding-bottom: 20px;
}
.c-sort {
	font-size: 20px;
}
.c-sort select {
	display: inline-block;
	margin-left: 5px;
	width: 120px;
	height: 20px;
}
.content__c-tovars {
	float: left;
	width: 100%;
}
.c-tovars__left {
	width: 33.33333%;
	float: left;
	text-align: left;
}
.c-tovars__center {
	width: 33.33333%;
	float: left;
	text-align: center;
}
.c-tovars__right {
	width: 33.33333%;
	float: left;
	text-align: right;
}
.c-tovars__item {
	width: 160px;
	display: inline-block;
	margin-bottom: 20px;
	height: 294px;
}
.c-tovars__img {
	width: 100%;
	position: relative;
	height: 200px;
	display: block;
	overflow: hidden;
}
.c-tovars__img img {
	display: block;
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.c-tovars__title {
	display: block;
	text-align: center;
	font-family: "AndaleMono";
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	margin: 5px 0 10px;
}
.c-tovars__button {
	width: 100%;
	display: block;
	background-color: #000;
	color: #fff;
	text-align: center;
	line-height: 30px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: "AndaleMono";
	height: 30px;
}
.c-tovars__izbrannoe {
	position: absolute;
	left: 8px;
	top: 8px;
	color: #000;
	z-index: 9;
}
.c-interesting {
	padding-top: 60px;
}
.c-interesting__title {
	text-transform: uppercase;
	font-family: "AndaleMono";
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	padding-bottom: 30px;
}
.c-interesting__list {

}
.c-interesting__item {
	float: left;
	width: 100px;
	margin-left: 30px;
	height: 175px;
	display: block;
	text-decoration: none;
	color: #000;
}
.c-interesting__item:first-child {
	margin-left: 0;
}
.c-interesting__top {
	width: 100px;
	height: 100px;
	overflow: hidden;
}
.c-interesting__img {
	width: 100%;
}
.c-interesting__subtitle {
	text-transform: uppercase;
	color: #000;
	font-size: 12px;
	font-family: "AndaleMono";
	font-weight: bold;
	display: block;
	padding-top: 5px;
}
.c-question {
	padding-top: 60px;
	text-align: right;
	width: 60%;
}
.c-question__title {
	text-transform: uppercase;
	font-family: "AndaleMono";
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	padding-bottom: 30px;
	display: block;
	text-align: left;
}
.c-question__input {
	display: block;
	width: 100%;
	height: 40px;
	border: 1px solid #999;
	text-transform: uppercase;
	font-family: "AndaleMono";
	font-weight: bold;
	font-size: 12px;
	padding: 0 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 5px;
	text-align: left;
}
.c-question__textarea {
	display: block;
	height: 120px;
	width: 100%;
	border: 1px solid #999;
	text-transform: uppercase;
	font-family: "AndaleMono";
	font-weight: bold;
	font-size: 12px;
	padding: 10px 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 5px;
	text-align: left;
	resize: none;
}
.c-question__button {
	display: inline-block;
	background-color: #000;
	border: 1px solid #999;
	color: #fff;
	font-family: "AndaleMono";
	font-weight: bold;
	font-size: 17px;
	height: 30px;
	line-height: 28px;
	padding: 0 25px;
	text-transform: uppercase;
}